<div class="column gap-1 wrapper">
  <img [src]="book.image" alt="{{ book.name }}" />

  <h2 class="title">{{ book.name }}</h2>

  <p class="author">{{ book.author }}</p>

  <p-rating
    [(ngModel)]="book.rating"
    [readonly]="true"
    [cancel]="false"
  ></p-rating>

  <div class="row justify-center gap-1">
    <button
      type="button"
      pButton
      label="Edit"
      icon="pi pi-pencil"
      (click)="editBook()"
      class=""
    ></button>
    <button
      type="button"
      pButton
      label="Delete"
      icon="pi pi-trash"
      (click)="confirmDelete($event)"
      class="p-button-danger"
    ></button>
  </div>
</div>

<p-confirmPopup></p-confirmPopup>
